@using Exam.Areas.AdminPanel.ViewModels
@model CreateTeamVM

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create </h4>

                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">

                        <label for="Photo">Photo</label>
                        <input asp-for="Photo" class="form-control" accept="image/*">

                        <span asp-validation-for="Photo" class="text-danger "></span>
                    </div>

                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label for="RoleId">Role/Label</label>
                        <select class="form-control" asp-for="RoleId" asp-items="new SelectList(Model.Roles, nameof(Role.Id), nameof(Role.Name))">
                            <option selected disabled>Choose Role</option>
                        </select>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button asp-action="index" class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

